@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center mt-3">
    <h1 class="display-4">Attendance Monitoring</h1> <br />
    <div class="d-flex flex-row justify-content-center">
        <input type="text" name="txtID" placeholder="Employee ID" class="form-control text-center" style="width:320px;" />
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Employee Information</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h2 id="Error" style="display:none;" class="text-danger">Not Found</h2>
                    <div class="form-group">
                        Identification
                        <input type="text" name="txtEmpID" placeholder="Employee ID" readonly class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        Name
                        <input type="text" name="txtname" placeholder="Fullname" readonly class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        Department
                        <input type="text" name="txtDepartment" placeholder="Department" readonly class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        Position
                        <input type="text" name="txtPosition" placeholder="Position" readonly class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="col-md-4">
                    <img id="Image" src="~/Content/img/Default.png" width="300" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
    var EmpID = $('input[name=txtID]');
    var ID = $('input[name=txtEmpID]');
    var Name = $('input[name=txtname]');
    var Department = $('input[name=txtDepartment]');
    var Position = $('input[name=txtPosition]');
    var Picture = $('#Image');

    function Initiate() {
        $.get('@Url.Action("FindEmployee")', { EmpID: EmpID.val() }).done(function (data) {
            if (data.EmpID != null) {
                ID.val(data.EmpID);
                Name.val(`${data.Fname} ${data.Mname} ${data.Lname}`);
                Department.val(data.Department);
                Position.val(data.Position);
                Picture.attr('src', `${data.Picture}`);
            } else {
                $('#Error').css('display','block');
                Name.val(``);
                Department.val('');
                Position.val('');
                EmpID.val('');
                Picture.attr('src', `/Content/img/Default.png`);
            }
        });
    }

    EmpID.on('input', function () {
        Initiate();
        setTimeout(function () {
            ID.val('');
            Name.val(``);
            Department.val('');
            Position.val('');
            EmpID.val('');
            Picture.attr('src', `/Content/img/Default.png`);
            $('#Error').css('display','none');
        }, 10000);
       
    });
</script>    
}